<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.lapptelier.test">

    <application
        android:allowBackup="false"
        android:label="SmartRecyclerViewTest"
        tools:replace="android:label"
        android:theme="@style/Theme.AppCompat"
        android:supportsRtl="true">

        <activity android:name=".SmartRecyclerViewTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
